*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: rgb(3, 3, 87);
    color: aliceblue;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    cursor: pointer;
    background-color: black ;
}

img{
    height: 185px;
    width: 185px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 6rem;
}
#user, #comp{
    font-size: 4rem;  
}
.msd-container{
    margin-top: 2rem;
}
#msg{
    background-color:rgb(3, 3, 87);
    color: aliceblue;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    
}
